// Roboto!!!!
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/RobotoMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//Helvetica!!!!
@font-face {
  font-family: 'Helvetica';
  src: url('@/assets/fonts/HelveticaBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('@/assets/fonts/HelveticaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}